In [33]:
import pandas as pd
import math
import seaborn as sns
sns.set()

In [34]:
# Change the path to the dataset file if needed. 
PATH = 'athlete_events.csv'

In [35]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [36]:
# print(data[data['Age'] == min(data['Age'])])
data['Age'].min()

10.0

In [37]:
data_1996 = data.loc[data['Year'] == 1996]
fem_1996 = data_1996.loc[data_1996['Sex'] == 'F']
male_1996 = data_1996.loc[data_1996['Sex'] == 'M']
print('Youngest female age at 1996 Olympics -', fem_1996['Age'].min(), 'male -', male_1996['Age'].min())

Youngest female age at 1996 Olympics - 12.0 male - 14.0

In [38]:
data_2000 = data.loc[data['Year'] == 2000]
male_2000 = data_2000.loc[data_2000['Sex'] == 'M']
gym_2000 = male_2000.loc[male_2000['Sport'] == 'Gymnastics']
len(gym_2000)/len(male_2000)

0.07651966626936829

In [39]:
# fem basket 2000 mean std of height 
need = data_2000.loc[data_2000['Sex'] == 'F']
need = need.loc[need['Sport'] == 'Basketball']
print(need['Height'].mean(), need['Height'].std())

182.38732394366198 9.139462087892174

In [40]:
# 2002 max weight
data_2002 = data.loc[data['Year'] == 2002]
print(data_2002.loc[data_2002['Weight'] == 123]['Sport'])

99154    Bobsleigh
Name: Sport, dtype: object

In [41]:
need = data.loc[data['Name'] == 'Pawe Abratkiewicz']
need.drop_duplicates(subset=['Year'], keep='first', inplace=True)
print(len(need))

3

d:\programs\python\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [24]:
# How many silver medals in tennis did Australia win at the 2000 Olympics? 
need = data_2000.loc[data_2000['Team'] == 'Australia']
need = need.loc[need['Medal'] == 'Silver']
need = need.loc[need['Sport'] == 'Tennis']
print(len(need))

2

In [48]:
data_2016 = data.loc[data['Year'] == 2016]
data_2016.dropna(subset=['Medal'])
sw_2016 = data_2016.loc[data_2016['Team'] == 'Switzerland']
sr_2016 = data_2016.loc[data_2016['Team'] == 'Serbia'] 
print(len(sw_2016) < len(sr_2016))

False

In [55]:
data_2014 = data.loc[data['Year'] == 2014]
count1, count2, count3, count4 = 0, 0, 0, 0
for age in data_2014['Age']:
    if age >= 45:
        count4 += 1
        continue
    if age >= 35:
        count3 += 1
        continue
    if age >= 25:
        count2 += 1
        continue
    if age >= 15:
        count1 += 1
        continue
print('15-25 -- ', count1, '\n25-35 -- ', count2, '\n35-45 -- ', count3, '\n45-55 -- ', count4)

15-25 --  2027
25-35 --  2594
35-45 --  265
45-55 --  5

In [62]:
# Summer Olympics held in Lake Placid? Winter Olympics held in Sankt Moritz? *
lp = data.loc[data['City'] == 'Lake Placid']
sm = data.loc[data['City'] == 'Sankt Moritz']
sm.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
935,529,Karl Gustaf Emanuel Abrahamsson,M,31.0,NaN,NaN,Sweden,SWE,1928 Winter,1928,Winter,Sankt Moritz,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver
1187,665,Gilbert Achard-Picard,M,29.0,NaN,NaN,France-2,FRA,1948 Winter,1948,Winter,Sankt Moritz,Bobsleigh,Bobsleigh Men's Four,NaN
1439,802,Tadeusz Ralf Adamowski,M,26.0,177.0,70.0,Poland,POL,1928 Winter,1928,Winter,Sankt Moritz,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN
1454,810,Bridget Shirley Adams (-Bengough),F,19.0,NaN,NaN,Great Britain,GBR,1948 Winter,1948,Winter,Sankt Moritz,Figure Skating,Figure Skating Women's Singles,NaN
2707,1508,Enrico Airoldi,M,24.0,NaN,NaN,Italy-2,ITA,1948 Winter,1948,Winter,Sankt Moritz,Bobsleigh,Bobsleigh Men's Four,NaN

In [66]:
data_1995 = data.loc[data['Year'] == 1995]
len(data_2016.Sport.unique()) - len(data_1995.Sport.unique())

34